*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

height:100vh;

background:linear-gradient(135deg,#eff6ff,#ffffff);

display:flex;

align-items:center;

justify-content:center;

}



.login-container{

width:90%;

max-width:1100px;

background:white;

border-radius:35px;

display:flex;

overflow:hidden;

box-shadow:0 30px 60px rgba(0,0,0,.12);

}





.login-left{

width:50%;

background:#2563eb;

color:white;

padding:60px;

}



.login-left h1{

font-size:45px;

line-height:1.2;

}



.login-left span{

color:#bfdbfe;

}



.login-left p{

margin-top:20px;

font-size:18px;

line-height:1.7;

}



.ai-feature{

margin-top:40px;

}



.ai-feature div{

background:rgba(255,255,255,.15);

padding:15px;

margin:15px 0;

border-radius:15px;

}



.ai-feature i{

margin-right:15px;

}





.login-card{

width:50%;

padding:60px;

}




.login-card h2{

font-size:35px;

}



.login-card p{

color:#64748b;

margin-bottom:30px;

}





.input-box{

display:flex;

align-items:center;

gap:15px;

background:#f8fafc;

padding:15px;

border-radius:15px;

margin-bottom:20px;

}



.input-box i{

color:#2563eb;

}



.input-box input{

border:none;

outline:none;

background:none;

width:100%;

font-size:16px;

}





.options{

display:flex;

justify-content:space-between;

margin-bottom:30px;

font-size:14px;

}



.options a{

color:#2563eb;

}





.login-card button{

width:100%;

padding:16px;

border:none;

border-radius:30px;

background:#2563eb;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

}



.register{

text-align:center;

margin-top:25px;

}



.register a{

color:#2563eb;

font-weight:600;

}





@media(max-width:800px){


.login-container{

flex-direction:column;

}


.login-left,
.login-card{

width:100%;

}


}